/* styles.css */

#landing {
    background: #007bff;
    color: white;
    text-align: center;
}

#form-section, #results-section {
    margin-top: 50px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner-container .spinner-message {
    margin-top: 10px;
}

.scroll-icon {
    width: 150px; /* Smaller scroll-down icon */
    height: auto;
}

.display-4 {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 5rem;
    }
}

